.stars {
}
.starpicker {
}
.star {
}
.star--filled {
}
.star--empty {
}

.reviewSubmittedImage{
    width: 150px;
    height: 150px;
    background: url(../public/metadata/thank-you-review-section.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.reviewSubmittedHolder{
    padding-top: 20px;
    display: flex;
}
.reeviewBarCheckBox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.reeviewBarInput{
    border: 1px solid black;
}
.reeviewBarInputActive{
    background: green;
}